{% extends 'recept/base.html' %}

{% block title %}
    Создать рецепт для пользователя
{% endblock %}

{% block body %}
<!--    {% if request.user.is_authenticated %}-->
        <h1>Создать новый рецепт для пользователя:</h1>
        <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">
                Create
            </button>
        </form>
        </div>
<!--    {% endif %}-->
{% endblock %}
