{% extends 'recept/base.html' %}

{% block title %}
    Рецепт #{{ recept.pk }}
{% endblock %}

{% block body %}
    <h1>Рецепт <strong>{{ recept.name }}</strong></h1>
    <div>
        <div>Название: {{ recept.name }} </div>
        <div>Количество ингридиентов: {{ recept.count_ingredients }} </div>
        <div>Ингридиенты: {{ recept.ingredients }} </div>
        <div>Вес ингридиентов: {{ recept.weight_ingredients_gramm }} </div>
    </div>
    <div><a href="{% url 'recept:recept_update' pk=recept.pk %}">Обновить рецепт</a></div>
    <div><a href="{% url 'recept:recept_delete' pk=recept.pk %}">Удалить рецепт</a></div>
{% endblock %}